<div class="dashboard-card">
  <div class="temperature-metadata">
    <span class="header">Car Cabin Temperature Stats</span>
    <table class="temperature-metadata-table">
      <tr>
        <th>Max</th>
        <th>Min</th>
        <th>Mean</th>
        <th>Median</th>
        <th>Mode</th>
      </tr>
      <tr>
        <td><span class="table-data">{{ temperatureMetadata?.internalMax}}</span></td>
        <td><span class="table-data">{{ temperatureMetadata?.internalMin}}</span></td>
        <td><span class="table-data">{{ temperatureMetadata?.internalMean}}</span></td>
        <td><span class="table-data">{{ temperatureMetadata?.internalMed}}</span></td>
        <td><span class="table-data">{{ temperatureMetadata?.internalMod}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="dashboard-card">
  <select name="temperatureDropdown" [(ngModel)]="selectedDataset" (ngModelChange)="onTemperatureDropdownChange($event)">
    <option *ngFor="let dataset of temperatureListings?.datasets" [value]="dataset.url">{{dataset.date}}</option>
  </select>

  <span class="header">{{ temperatureMetadata?.startTimestamp | date: 'ccc, MMMM dd YYYY'}}  ({{ temperatureMetadata?.startTimestamp | date:'HH:mm' }} - {{ temperatureMetadata?.endTimestamp | date:'HH:mm'}})</span>

  <div class="chart-legend">
    <div *ngFor="let legendItem of chartLegendItems" class="chart-legend-item">
      <div class="chart-legend-color" [ngStyle]="{'background-color': legendItem.color} "></div>
      <span class="chart-legend-label" [innerText]="legendItem.label"></span>
    </div>
  </div>
  <div id="chart"></div>
</div>

