@import '../../styles.scss';
::ng-deep {
    .chart-axis-label {
      fill: #000;
      font-size: 16px;
      text-anchor: middle;
      font-style: italic;
    }

    .chart-line {
      fill: none;
      stroke-width: 3px;
    }
    .chart-axis-grid line {
      stroke: #ccc;
    }

    .chart-hover-line {
      stroke: $clr-primary;
      stroke-width: 3px;
    }

    .chart-hover-label {
      font-weight: bold;
      font-size: 1.3rem;
    }
    .tick text {
      font-size: 1.2rem;
    }
}

.chart-legend {
  display: flex;
  justify-content: center;

  .chart-legend-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .chart-legend-label {
      font-size: 0.9rem;
      padding: 5px 20px 0px 0px;
    }

    .chart-legend-color {
      width: 20px;
      height: 6px;
    }
  }
}

.temperature-metadata {
  display: flex;
  flex-direction: column;

  margin: 10px 0px;
  align-items: center;
}

.temperature-metadata-table {

  th {
    padding: 5px 5px;
  }

  .table-data {
    padding: 5px 10px;
  }
}

.chart-container {
  width: 100%;
  max-width: 700px;
}

.chart-dropdown {
  max-width: 250px;
  margin-bottom: 20px;
}
