@import '../../styles.scss';
::ng-deep {
    .chart-axis-label {
      fill: #000;
      font-size: 16px;
      text-anchor: middle;
      font-style: italic;
    }

    .chart-line {
      fill: none;
      stroke-width: 2px;
    }
    .chart-axis-grid line {
      stroke: #ccc;
    }

    .tick text {
      font-size: 0.9rem;
    }
}

.chart-legend {
  display: flex;
  justify-content: center;

  .chart-legend-item {
    display: flex;
    align-items: center;

    .chart-legend-label {
      padding: 5px 10px;
    }

    .chart-legend-color {
      width: 30px;
      height: 8px;
    }
  }
}

.temperature-metadata {
  display: flex;
  flex-direction: column;

  margin: 10px 0px;
  align-items: center;
}

.temperature-metadata-table {

  th {
    padding: 5px 5px;
  }

  .table-data {
    padding: 5px 10px;
  }
}
