@import "../styles.scss";

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $clr-primary;
  height: 50px;
  color: #fff;

  h1 {
    font-family: $font-header;
    margin: 0px;
    padding: 0px 8px;
  }
}
